# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDEs
.idea/
.vscode/

# Platform builds
android/
ios/
macos/
linux/
windows/
web/

# Generated
pubspec.lock
coverage/
